@font-face {
    font-family: 'IranSansbold';
    src: url("../fonts/IranSans/IRANSans-Bold-web.eot");
    src: url("../fonts/IranSans/IRANSans-Bold-web.eot?#iefix") format("eot"), url("../fonts/IranSans/IRANSans-Bold-web.woff2") format("woff2"), url("../fonts/IranSans/IRANSans-Bold-web.woff") format("woff"), url("../fonts/IranSans/IRANSans-Bold-web.ttf") format("ttf");
    /*font-weight: bold;*/
}

@font-face {
    font-family: 'IranSans500';
    src: url("../fonts/IranSans/IRANSans-Medium-web.eot");
    src: url("../fonts/IranSans/IRANSans-Medium-web.eot?#iefix") format("eot"), url("../fonts/IranSans/IRANSans-Medium-web.woff2") format("woff2"), url("../fonts/IranSans/IRANSans-Medium-web.woff") format("woff"), url("../fonts/IranSans/IRANSans-Medium-web.ttf") format("ttf");
    /*font-weight: 500;*/
}

@font-face {
    font-family: 'IranSans200';
    src: url("../fonts/IranSans/IRANSans-UltraLight-web.eot");
    src: url("../fonts/IranSans/IRANSans-UltraLight-web.eot?#iefix") format("eot"), url("../fonts/IranSans/IRANSans-UltraLight-web.woff2") format("woff2"), url("../fonts/IranSans/IRANSans-UltraLight-web.woff") format("woff"), url("../fonts/IranSans/IRANSans-UltraLight-web.ttf") format("ttf");
    /*font-weight: 200;*/
}

@font-face {
    font-family: 'IranSans300';
    src: url("../fonts/IranSans/IRANSans-Light-web.eot");
    src: url("../fonts/IranSans/IRANSans-Light-web.eot?#iefix") format("eot"), url("../fonts/IranSans/IRANSans-Light-web.woff2") format("woff2"), url("../fonts/IranSans/IRANSans-Light-web.woff") format("woff"), url("../fonts/IranSans/IRANSans-Light-web.ttf") format("ttf");
    /*font-weight: 300;*/
}

@font-face {
    font-family: 'IranSansnormal';
    src: url("../fonts/IranSans/IRANSans-web.eot");
    src: url("../fonts/IranSans/IRANSans-web.eot?#iefix") format("eot"), url("../fonts/IranSans/IRANSans-web.woff2") format("woff2"), url("../fonts/IranSans/IRANSans-web.woff") format("woff"), url("../fonts/IranSans/IRANSans-web.ttf") format("ttf");
    /*font-weight: normal;*/
}